html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#body{background-color:rgb(207,242,242);}
.pos{position:relative;margin-top:12px;}
.vis{display:block;vertical-align:top;}
.section{pointer-events:none;min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:0;margin-top:0;}
.size{min-width:1200px;width:1200px;min-height:5248px;}
.cont{z-index:1;pointer-events:auto;}
.size-2{min-width:1198px;width:1198px;min-height:823px;}
.cont-2{pointer-events:none;}
.colwrapper{line-height:0;}
.size-3{min-width:1198px;width:1198px;min-height:823px;height:823px;}
.cont-3{z-index:5;pointer-events:auto;}
.img{position:absolute;left:97px;width:1003px;height:823px;top:0;border:0;}
.img-2{left:97px;width:1003px;height:823px;top:0;display:inline-block;}
.pos-3{position:relative;margin-left:467px;margin-top:-823px;}
.size-4{min-width:272px;width:272px;min-height:146px;height:146px;}
.cont-4{z-index:6;pointer-events:auto;}
.anchor{display:block;}
.img-3{position:absolute;left:0;width:272px;height:146px;top:0;border:0;}
.img-4{left:0;width:272px;height:146px;top:0;display:inline-block;}
.pos-4{position:relative;margin-left:139px;margin-top:-677px;}
.size-5{min-width:908px;width:908px;min-height:677px;}
.pos-5{position:relative;margin-left:0;margin-top:455px;}
.size-6{min-width:273px;width:273px;min-height:222px;height:222px;}
.cont-6{z-index:7;pointer-events:auto;}
.img-5{position:absolute;left:22px;width:229px;height:222px;top:0;border:0;}
.img-6{left:22px;width:229px;height:222px;top:0;display:inline-block;}
.pos-6{position:relative;margin-left:-139px;margin-top:63px;}
.size-7{min-width:202px;width:202px;min-height:186px;height:186px;}
.cont-7{z-index:9;pointer-events:auto;}
.img-7{position:absolute;left:1px;width:201px;height:186px;top:0;border:0;}
.img-8{left:1px;width:201px;height:186px;top:0;display:inline-block;}
.pos-7{position:relative;margin-left:155px;margin-top:-677px;}
.size-8{min-width:753px;width:753px;min-height:677px;height:677px;}
.cont-8{z-index:8;pointer-events:auto;}
.img-9{position:absolute;left:61px;width:630px;height:677px;top:0;border:0;}
.img-10{left:61px;width:630px;height:677px;top:0;display:inline-block;}
.size-9{min-width:1200px;width:1200px;min-height:4425px;}
.size-10{min-width:1199px;width:1199px;min-height:4425px;}
.size-11{min-width:1199px;width:1199px;min-height:640px;height:640px;}
.cont-9{z-index:2;pointer-events:auto;}
.img-11{position:absolute;left:98px;width:1003px;height:640px;top:0;border:0;}
.img-12{left:98px;width:1003px;height:640px;top:0;display:inline-block;}
.pos-8{position:relative;margin-left:0;margin-top:-19px;}
.size-12{min-width:1199px;width:1199px;min-height:1280px;height:1280px;}
.cont-10{z-index:3;pointer-events:auto;}
.img-13{position:absolute;left:98px;width:1003px;height:1280px;top:0;border:0;}
.img-14{left:98px;width:1003px;height:1280px;top:0;display:inline-block;}
.pos-9{position:relative;margin-left:0;margin-top:1244px;}
.size-13{min-width:1198px;width:1198px;min-height:1280px;height:1280px;}
.cont-11{z-index:10;pointer-events:auto;}
.img-15{position:absolute;left:98px;width:1002px;height:1280px;top:0;border:0;}
.img-16{left:98px;width:1002px;height:1280px;top:0;display:inline-block;}
.pos-10{position:relative;margin-left:1px;margin-top:-2540px;}
.size-14{min-width:1199px;width:1199px;min-height:1278px;height:1278px;}
.cont-12{z-index:4;pointer-events:auto;}
.img-17{position:absolute;left:98px;width:1003px;height:1278px;top:0;border:0;}
.img-18{left:98px;width:1003px;height:1278px;top:0;display:inline-block;}
.pos-11{position:relative;margin-left:0;margin-top:-4356px;}
.size-15{min-width:1px;width:1px;min-height:1px;}
.pos-12{position:relative;margin-left:-1px;margin-top:-3797px;}
.pos-13{position:relative;margin-left:-1px;margin-top:-2524px;}
.pos-14{position:relative;margin-left:-1px;margin-top:-1274px;}
@media (max-width:1199px) {
.pos{margin-top:0;}
.section{min-width:960px;width:960px;}
.size{min-width:960px;width:960px;min-height:4198px;}
.size-2{min-width:958px;width:958px;min-height:658px;}
.size-3{min-width:958px;width:958px;min-height:658px;height:658px;}
.img{left:78px;width:802px;height:658px;}
.img-2{left:78px;width:802px;height:658px;}
.pos-3{margin-left:399px;margin-top:-658px;}
.size-4{min-width:218px;width:218px;min-height:117px;height:117px;}
.img-3{width:218px;height:117px;}
.img-4{width:218px;height:117px;}
.pos-4{margin-left:66px;margin-top:-541px;}
.size-5{min-width:780px;width:780px;min-height:541px;}
.pos-5{margin-top:364px;}
.size-6{min-width:219px;width:219px;min-height:177px;height:177px;}
.img-5{left:18px;width:183px;height:177px;}
.img-6{left:18px;width:183px;height:177px;}
.pos-6{margin-left:-111px;margin-top:40px;}
.size-7{min-width:187px;width:187px;min-height:172px;height:172px;}
.img-7{width:186px;height:172px;}
.img-8{width:186px;height:172px;}
.pos-7{margin-left:178px;margin-top:-541px;}
.size-8{min-width:602px;width:602px;min-height:541px;height:541px;}
.img-9{left:49px;width:504px;height:541px;}
.img-10{left:49px;width:504px;height:541px;}
.size-9{min-width:960px;width:960px;min-height:3540px;}
.size-10{min-width:959px;width:959px;min-height:3540px;}
.size-11{min-width:959px;width:959px;min-height:512px;height:512px;}
.img-11{left:78px;width:803px;height:512px;}
.img-12{left:78px;width:803px;height:512px;}
.pos-8{margin-top:-15px;}
.size-12{min-width:959px;width:959px;min-height:1024px;height:1024px;}
.img-13{left:78px;width:803px;height:1024px;}
.img-14{left:78px;width:803px;height:1024px;}
.pos-9{margin-top:995px;}
.size-13{min-width:958px;width:958px;min-height:1024px;height:1024px;}
.img-15{left:78px;width:802px;height:1024px;}
.img-16{left:78px;width:802px;height:1024px;}
.pos-10{margin-top:-2032px;}
.size-14{min-width:959px;width:959px;min-height:1023px;height:1023px;}
.img-17{left:78px;width:803px;height:1023px;}
.img-18{left:78px;width:803px;height:1023px;}
.pos-11{margin-top:-3475px;}
.pos-12{margin-top:-3028px;}
.pos-13{margin-top:-2009px;}
.pos-14{margin-top:-1009px;}
}
